@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.Action("Index", "MoscowWeatherData")"
       class="btn btn-primary btn-lg">
        Загрузка данных о погоде Москвы
    </a>
</div>

<!-- Views/Home/Index.cshtml -->
<div class="text-center">
    <a href="@Url.Action("Filter", "MoscowWeatherData")"
       class="btn btn-primary btn-lg">
        Перейти к фильтру метеоданных
    </a>
</div>
